/**
* Gutter definitions
*/

$gutter: 16px;

$gutter-quarter: $gutter/4;
$gutter-half: $gutter/2;
$gutter-three-quarter: $gutter-quarter * 3;

$gutter-one-and-half: $gutter * 1.5;
$gutter-double: $gutter * 2;
$gutter-triple: $gutter * 3;
