<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of list.products">
        <td *ngFor="let key of item">
          <span *ngIf="key !== 'moveInDate' && key !== 'email'">{{tenant[key]}}</span>
        </td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="list.removeProduct(item)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>