<nav class="navigation navbar navbar-expand">
  <div class="container">
    <div class="navbar-brand">
      <img class="navigation__logo"
           src="https://i.shnig.de/NP9CEF" />
    </div>
    <div class="navbar-collapse">
      <ul class="nav">
        <li>
          <a class="navigation__item"
             routerLinkActive="navigation__item--active active"
             routerLink="/home">
            Shopping Lists
          </a>
        </li>
        <li>
          <a class="navigation__item"
             routerLinkActive="navigation__item--active active"
             routerLink="/settings">
            Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>