@import "../../shared/styles/entry";

.navigation {
  padding: 0;
  background-color: map-get($theme-colors, bg-light);

  &__logo {
    max-height: $topbar-logo-height;
  }

  &__item {
    display: block;
    padding: $gutter-one-and-half;
    line-height: 1;
    white-space: nowrap;
    color: map-get($theme-colors, text);
    font-weight: 700;
    transition: background-color 0.2s linear;

    &:hover,
    &:active,
    &:focus,
    &--active {
      text-decoration: none;
      outline: none;
    }

    &--active {
      color: map-get($theme-colors, primary-contrast);
      background-color: map-get($theme-colors, primary);
    }

    &:not(&--active):hover {
      color: map-get($theme-colors, highlight);
    }
  }
}
